[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/bluekeyes/oh-my-zsh.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "vim/bundles/pathogen"]
	path = vim/bundles/pathogen
	url = git://github.com/tpope/vim-pathogen.git
