[submodule "coreutils/dircolors-solarized"]
	path = coreutils/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "vim/vim.ln/bundle/pathogen"]
	path = vim/vim.ln/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/vim.ln/bundle/vim-git"]
	path = vim/vim.ln/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/vim.ln/bundle/vim-colors-solarized"]
	path = vim/vim.ln/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.ln/bundle/vim-repeat"]
	path = vim/vim.ln/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/vim.ln/bundle/vim-surround"]
	path = vim/vim.ln/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/vim.ln/bundle/vim-abolish"]
	path = vim/vim.ln/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/vim.ln/bundle/snipmate.vim"]
	path = vim/vim.ln/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/vim.ln/bundle/vim-gradle"]
	path = vim/vim.ln/bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
